body {
    color: blue;
}

#container {
    display: grid;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: 40px auto 400px;
    /* grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto; */
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    #container {
        background: lightcyan;
        display: grid;
        grid-template-columns: auto;
        height: 100vh;
    }

    .send {
        grid-column: 1/4;
    }

    .title {
        display: none;
    }

    my-position {
        padding: 10px;
        display:block;
        grid-column: 1/4;
    }

    .message {
        grid-column: 1/4;
        height: 200px;
        margin-top:50px;
    }
}

.send {
    grid-column: 2/4;
}

.message {
    grid-column: 2/4;
    height: 400px;
}

#messageWindowTitle {
    background: blue;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}

.logWindow {
    grid-column: 1/4;
    background: lightgray;
    color: black;
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 10px;
}