body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 10% 75% 10%;
    height: 100vh;
    background: #eeeeee;
}

#middle {
    display: grid;
    grid-template-rows: 1fr 10fr;
    padding: 10px;
    border:1px solid black;
}

button {
    width: 100%;
    height: 60px;
    margin: 5px;
    border: 2px solid black;
    background: lightblue;
}

.send {
    grid-column: 1/4;
}

#title {
    background: lightblue;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid black;
}

#logWindow {
    background: lightblue;
    border: 1px solid black;
}

.message {
    background: lightblue;
    height: 200px;
    margin-top: 50px;
}